@model IEnumerable<MyJournal.Models.CustomModels.DailyInformtion>

@{
    ViewData["Title"] = "Index";
}




<div class="row">
    <div class="col-2 bg-dark text-light pb-3">
        <h4>Your Past Entries</h4>
        @foreach (var item in Model)
        {
            <p class="border-top my-3 border-light"></p>
            <a class="text-light" asp-action="Details" asp-route-id="@item.DailyInformtionID">@item.Title - @item.DailyInformtionDateTime</a>
        }
    </div>
</div>
















<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyInformtionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyInformtionUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMood)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JournalText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyInformtionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyInformtionUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMood)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DailyInformtionID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DailyInformtionID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DailyInformtionID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
