@model MyJournal.Models.CustomModels.DailyInformation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DailyInformtion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailyInformationDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailyInformationDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JournalText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JournalText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserMood)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserMood)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DownTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DownTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoursSlept)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoursSlept)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinExercising)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinExercising)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinHobby)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinHobby)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumGoodThings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumGoodThings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumPoorThings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumPoorThings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OverallDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OverallDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExcitedForTomorrow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExcitedForTomorrow)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DailyInformationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
