@model IEnumerable<MyJournal.Models.JournalModels.Journal>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JournalText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JournalText)
                </td>
                <td>
                    @{
                        if ((DateTime.Now - item.JournalDateTime).TotalMinutes <= 60)
                        {
                            <a asp-action="Edit" asp-route-id="@item.JournalID">Edit</a><text> | </text>  
                                                                                             
                        }
                    }
                    <a asp-action="Details" asp-route-id="@item.JournalID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.JournalID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
