@model IEnumerable<MyJournal.Models.CustomModels.Sharing>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Share Your Data</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Giving Information To
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionLevel)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            @foreach (var item in Model.Where(x => x.Giver.Email == User.Identity.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PermissionLevel)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.SharingID">Remove Permission</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Getting Information From
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionLevel)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            @foreach (var item in Model.Where(x => x.Getter.Email == User.Identity.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Giver.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PermissionLevel)
                    </td>
                    <td>
                        <form id="giverName" asp-controller="SharedDailyInformations" asp-action="Index" method="post" role="form">
                            <button type="submit" class="btn btn-info" name="giverName" value="@item.Giver.Email">
                                View Data
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
