@model IEnumerable<MyJournal.Models.CustomModels.Sharing>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Giver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionLevel)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Giver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionLevel)
                </td>
                <td>
                    <form id="giverName" asp-controller="SharedDailyInformations" asp-action="Index"  method="post" role="form">
                        <button type="submit" name="giverName" value="@item.Giver">
                            View Data
                        </button>

                    </form>
                    <a asp-controller="SharedDailyInformations" asp-action="Index" asp-route-id="@item.Giver">View Data</a>
                </td>
            </tr>
        }
    </tbody>
</table>
