@model IEnumerable<MyJournal.Models.CustomModels.DailyInformation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JournalText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DailyInformationDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserMood)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GeneratedMood)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinExercising)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursSlept)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DownTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumGoodThings)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumPoorThings)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverallDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExcitedForTomorrow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinHobby)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyInformationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratedMood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinExercising)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursSlept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumGoodThings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPoorThings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExcitedForTomorrow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinHobby)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DailyInformationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DailyInformationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DailyInformationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
